<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>

<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

<style>
body {
    margin: 0;
    font-family: Poppins;
    background: #0b1120;
    color: white;
}

.main {
    margin-left: 240px;
    padding: 40px;
}

h1 {
    margin-bottom: 30px;
}

/* 🔥 Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

/* 🔥 Card */
.card {
    background: #111827;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background: #1f2937;
}

.icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.title {
    font-size: 18px;
}
</style>

</head>

<body>

<%- include("partials/sidebar") %>

<div class="main">

<h1>📊 Dashboard</h1>

<div class="grid">

<a style="color: blueviolet;" href="/new" class="card">
    <div class="icon">+ 🧾</div>
    <div class="title">Create Challan</div>
</a>

<a style="color: rgb(16, 134, 202);" href="/items" class="card">
    <div class="icon">📦</div>
    <div class="title">Manage Items</div>
</a>

<a style="color: rgb(4, 172, 79);" href="/counters" class="card">
    <div class="icon">🏢</div>
    <div class="title">Manage Counters</div>
</a>

<a style="color: rgb(234, 179, 8);" href="/challans" class="card">
    <div class="icon">📄</div>
    <div class="title">View All Challans</div>
</a>
<a style="color: rgb(46, 216, 23);" href="/add-item" class="card">
    <div class="icon">+ 📦</div>
    <div class="title">Add Item</div>

<a style="color: rgb(230, 14, 14);" href="/add-counter" class="card">
    <div class="icon">+ 🏢</div>
    <div class="title">Add Counter</div>
</a>


</a>

</div>

</div>

</body>
</html>